body {
    font-family: Arial;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#header {
    margin-top: 10%
}
#no-num {
    padding: 2px
}
td, tr, table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50px;
}

#github-mark {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 50px;
}

.selector {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    align-self: center;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selector-button {
    padding: 7px;
    background-color: lightgray;
    cursor: pointer;
}

.selector-button.selected {
    background-color: gray;
}